In [14]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\prayuta\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\prayuta\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [15]:
import mysql.connector
import os

In [16]:
mydb=mysql.connector.connect(host="localhost",user='Prayuta_DS',password='payu161616')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023861E07F90>

In [17]:
cursor=mydb.cursor()

In [18]:
cursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

In [19]:
CREATE TABLE Ages (
    name VARCHAR(128),
    age INTIGER
)

DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Mara', 28);
INSERT INTO Ages (name, age) VALUES ('Otto', 33);
INSERT INTO Ages (name, age) VALUES ('Fyn' , 31);
INSERT INTO Ages (name, age) VALUES ('Neshwan' ,17);

import sqlite
db = sqlite3.connect(':memory:')

cursor = db.cursor()
cursor.execute('''
     CREATE TABLE Ages (
     name VARCHAR(128),
     age INTIGER
     )''')

cursor.execute('''DELETE FROM Age''')

cursor.execute('''INSERT INTO Ages(name, age) VALUES ('Mara', 28)''')
cursor.execute('''INSERT INTO Ages(name, age) VALUES ('Otto', 33)''')
cursor.execute('''INSERT INTO Ages(name, age) VALUES ('Fyn' , 31)''')
cursor.execute('''INSERT INTO Ages(name, age) VALUES ('Neshwan' ,17)''')

cursor.execute('''SELECT hex(name || age) AS X FROM AGGES ORDER BY X''')

 user1 = cursor.fetchone()
    print("The first row in the resulting record set : "+user1[0])
    
    db.comit()

SyntaxError: invalid syntax (2798292969.py, line 1)